<div class="container">
 <h3 class="mt-md-4 mb-md-2">患者一覧</h3><%= paginate @patients %>
  <div class='row'>
   <div class='col-8'>
         <table class="table">
       <tr>
         <th>患者名</th>
         <th></th>
         <th></th>
         <th></th>
         <th></th>
       </tr>
       <%@patients.each do |patient|%>
       <tr>
         <td><%= link_to patient.name,staff_patient_path(patient.id),class: "btn btn-success" %></td>
         <td><%= link_to "患者さんのストーマ記録一覧を見る",staff_ostomy_index_path(patient.id),class: "btn btn-success" %></td>

         <td><%= link_to "記録をかく",new_staff_patient_record_path(patient.id),class: "btn btn-success"  %></td>
         <td><%= link_to "記録一覧",staff_patient_records_path(patient.id),class: "btn btn-success"  %></td>
         <!--<td>< %= link_to "記録一覧を見る",staff_patient_record_path(patient.id,@record_id),class: "btn btn-success"  %></td>-->
       </tr>
       <%end%>
     </table>
   </div>
  </div>
 </div>