<div class="container">
 <div class="row">

   <h2>ストマの記録<br><%=@ostomy.created_at.strftime('%Y/%m/%d') %></h2>
    <div class="col-8">
     <table class='table table-borderless'>
        <tr>
          <th>ストーマのいろ</th>
          <td><%= @ostomy.color_i18n%></td>
        </tr>
        <tr>
          <th>むくみ</th>
          <td><%= @ostomy.edema_i18n%></td>
        </tr>
        <tr>
          <th>ひふの状態</th>
          <td><%= @ostomy.skin_i18n%></td>
        </tr>
        <tr>
          <th>ストマのたての長さ</th>
          <td><%= @ostomy.h_size%></td>
        </tr>
        <tr>
          <th>ストマのよこの長さ</th>
          <td><%= @ostomy.w_size%></td>
        </tr>
        <tr>
          <th>コメントメモ</th>
          <td><%= @ostomy.comment%></td>
        </tr>
        <tr>
          <th>写真</th>
          <td><!--< % if@ostomy.image.attached? %>
                  < %= image_tag @ostomy.image %>
                  < % else %>
                  < %= image_tag 'no_image.jpg' %>
                  < % end %>-->
          </td>
        </tr>
        <tr>
          <th>スタッフからのコメント</th>
          <td　id="staff_comment">
            <% @ostomy.comments.each do |comment| %>
              <%= comment.staff.name %>
              <%= comment.created_at.strftime('%Y/%m/%d') %>
              <%= comment.comment %>
            <% end %>
          </td>
        </tr>
     </table>
<%= link_to '編集する',edit_patient_ostomy_path(@ostomy), class: "btn btn-success btn-lg" %>
  </div>
 </div>
</div>