<div class='container'>
  <h4>記録を編集</h4>
  <%= render 'layouts/errors', obj: @dialy%>
  <div class='row'>
    <div class ="col-8">
    <%= form_with model: @dialy, url: patient_dialy_path,method: :patch,local: true do |f|%>
      <table lass='table'>
        <tr>
          <th>血圧</th>
          <td><%= f.number_field :systolic_bp,min:0 %>/<%= f.number_field :diastolic_bp,min:0 %>mmHg</td>
        </tr>
        <tr>
          <th>体温</th>
          <td><%= f.number_field :bt, min:34.0,step:"0.1" %>℃</td>
        </tr>
        <tr>
          <th>血糖</th>
          <td><%= f.number_field :bs,min:0%>mg/d</td>
        </tr>
        <tr>
          <th>体重</th>
          <td><%= f.number_field :weight, min:0,step:"0.1"%>kg</td>
        </tr>
        <tr>
          <th>便のいろ</th>
          <td>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-success ">
               <%= f.label :brown , 'ちゃいろ' %><%= f.radio_button :color, "brown" %>
              </label>
              <label class="btn btn-outline-success">
               <%= f.label :black , 'くろ' %><%= f.radio_button :color, "black" %>
              </label>
              <label class="btn btn-outline-success">
               <%= f.label :light_brown, 'うすちゃいろ' %><%= f.radio_button :color,"light_brown"%>
              </label>
              <label class="btn btn-outline-success">
               <%= f.label :orange, 'オレンジ' %><%= f.radio_button :color,"orange"%>
              </label>
              <label class="btn btn-outline-success"><%= f.label :yellow, 'きいろ' %><%= f.radio_button :color,"yellow"%>
               <%= f.label :red ,'あか' %><%= f.radio_button :color,"red"%>
              </label>
              <label class="btn btn-outline-success">
               <%= f.label :other, 'そのほか' %><%= f.radio_button :color, "other" %>
              </label>
            </div>
            </td>
        </tr>
        <tr>
            <th>調子</th>
            <td>
             <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-outline-success active">
               <%= f.label :usual, 'ふつう' %><%= f.radio_button :feeling,"usual" %>
              </label>
              <label class="btn btn-outline-success active">
               <%= f.label :well,'よい' %><%= f.radio_button :feeling,"well"%>
              </label>
              <label class="btn btn-outline-success active">
               <%= f.label :good, 'とてもよい' %><%= f.radio_button :feeling,"good"%>
              </label>
              <label class="btn btn-outline-success active">
              　 <%= f.label :tired, 'つかれている' %><%= f.radio_button :feeling,"tired" %>
              </label>
              <label class="btn btn-outline-success active">
               <%= f.label :little_bad, 'ややわるい' %><%= f.radio_button :feeling,"little_bad" %>
              </label>
              <label class="btn btn-outline-success active">
               <%= f.label :bad, 'わるい' %><%= f.radio_button :feeling,"bad"%>
              </label>
             </div>
            </td>
        </tr>
        <tr>
            <th>コメント・メモ</th>
            <td>
              <%=f.text_area :comment %>
            </td>
        </tr>
        <tr>
            <th>写真を貼る</th>
            <td><%= f.file_field :image %></td>
        </tr>
        <tr>
          <th></th>
          <td><%= f.submit '記録する',class: "btn btn-success btn-lg" %></td>
        </tr>
      </table>
    <%end%>
    </div>
  </div>
</div>