<div class="container">
  <div class="row">
   <div class="col-12  p-lg-4">
    <h2>健康記録:<%= @dialy.created_at.strftime('%Y/%m/%d') %></h2>
   </div>
  </div>
  <div class="row">
    <div class="col-9 align-middle font-weight-bold center-block">
      <table class='table text-center'>
        <tr>
          <th>血圧</th>
          <td><%= @dialy.systolic_bp%>/<%= @dialy.diastolic_bp%>mmHg</td>
        </tr>
        <tr>
          <th>体温</th>
          <td><%= @dialy.bt%></td>
        </tr>
        <tr>
          <th>血糖</th>
          <td><%= @dialy.bs%></td>
        </tr>
        <tr>
          <th>体重</th>
          <td><%= @dialy.weight%></td>
        </tr>
        <tr>
          <th>便の色</th>
          <td><%= @dialy.color_i18n%></td>
        </tr>
        <tr>
          <th>調子</th>
          <td><%= @dialy.feeling_i18n%></td>
        </tr>
        <tr>
          <th>コメントメモ</th>
          <td><%= @dialy.comment%></td>
        </tr>
        <tr>
          <th>写真</th>
          <td>
            <% if @dialy.image.attached? %>
            <%= image_tag @dialy.image %>
            <% else %>
            <%= image_tag 'no_image.jpeg' %>
            <% end %>
         </td>
        </tr>
        <tr>
          <th></th>
          <td> <%=link_to '編集する',edit_patient_dialy_path(@dialy), class: "btn btn-success btn-lg" %></td>
        </tr>
     </table>
    </div>
  </div>
</div>