<header>
<!--<script src='fullcalendar/dist/locale/ja.js'></script>-->
</header>
<div id="calendar_test">
</div>

<!--modalで予定作成　呼び出す部分-->
<div class="modal" id="new_calender" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">予定追加</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group field">
          <%= form_with(model: @calender, url: patient_calenders_path,remote: true) do |f| %>
            <div class="form-inputs">
              <div class="form-group">
                <%= f.label :title, "予定", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                <%= f.text_field :title, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :body, "詳細", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                <%= f.text_field :body, class: "form-control"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :starts_at, "開始時間", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :starts_at, class: "form-control input-start"%>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :ends_at, "終了時間", class: "form-control-label"%>
                <div class="input-group" data-target-input="nearest">
                  <%= f.text_field :ends_at, class: "form-control input-end"%>
                </div>
              </div>
            </div>
            <div class="modal-footer actions">
              <%= f.submit "入力完了", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!--modalで予定編集　呼び出す部分-->

