<div class="container">
  <div class="row">
      <% if @ostmy.errors.any? %><% end %>
      <h4>ストマの記録をかく</h4>
      <%= form_with model: @ostmy, url: _pth loval true do |f| %>
      <table>
        <tr>
            <th>ストーマのいろ</th>
            <td>
            　<%= f.label :pink, 'ピンク' %><%= f.radio_button :color%>
              <%= f.label :red ,'あか' %><%= f.radio_button :color %>
              <%= f.label :blown , 'ちゃいろ' %><%= f.radio_button :color %>
              <%= f.label :black , 'くろ' %><%= f.radio_button :color %>
              <%= f.label :other, 'そのほか' %><%= f.radio_button :color %>
            </td>
        </tr>
        <tr>
            <th>むくみ</th>
            <td></td>
        </tr>
         <tr>
            <th>ひふの状態</th>
            <td>
              <%= f.label :same, '前回と同じ' %><%= f.radio_button :skin %>
              <%= f.label :red ,'あかい' %><%= f.radio_button :skin %>
              <%= f.label :blown , 'ちゃいろ' %><%= f.radio_button :skin %>
              <%= f.label :black , 'くろ' %><%= f.radio_button :skin %>
              <%= f.label :white, 'しろ' %><%= f.radio_button :skin %>
              <%= f.label :other, '水疱' %><%= f.radio_button :skin %>
            </td>
            </td>
        </tr>
         <tr>
            <th>ストマのたての長さ</th>
            <td></td>
        </tr>
         <tr>
            <th>ストマのよこの長さ</th>
            <td></td>
        </tr>
         <tr>
            <th>コメント・メモ</th>
            <td></td>
        </tr>
         <tr>
            <th></th>
            <td></td>
        </tr>
        <tr><th></th><td></td></tr>
        <tr><th></th><td></td></tr>
        <tr><th></th><td></td></tr>
        <tr><th></th><td></td></tr>
        <tr><th></th><td></td></tr>
        <tr><th></th><td></td></tr>
      </table>
      <%end%>
      
      
  </div>
</div>