
<div class="container">
  <div class="row">
    <div class="col-9">
     <h4 class = "mt-md-4 mb-md-2">ABCモデルでストーマの状態を記録する</h4>
     <table class='table table-borderless'>
       <tr>
         <th>紅斑</th>
         <td>圧迫すると消失する赤み(0点)</td>
       </tr>
       <tr>
         <th>びらん</th>
         <td>表皮剥離を含む、表皮と真皮浅層の欠損(1点)</td>
       </tr>
       <tr>
         <th>水泡/膿疱斑</th>
         <td>表皮or真皮内に体液が貯留(3点)</td>
       </tr>
       <tr>
         <th>潰瘍/組織増大</th>
         <td>圧迫すると消失する赤み(15点)</td>
       </tr>
     </table>
     <%= render 'layouts/errors', obj: @record %>
    </div>
  </div>
<%= form_with(model:@record, url: staff_patient_records_path(@patient.id,@record.id),method: :post ,local: true) do |f| %>
  <div class="row">
    <div class="col-9">
     <table class='table table-borderless'>
   <tr>
     <th>A:近接部:ストーマからストーマ装具の皮膚保護剤までの範囲</br></th>
     <td>
       <%= f.label :acceptable, '障害なし' %>
       <%= f.radio_button :adjacent,"acceptable" %>
       <%= f.label :erythema,'紅斑' %>
       <%= f.radio_button :adjacent,"erythema"  %>
       <%= f.label :erosion , 'びらん' %>
       <%= f.radio_button :adjacent, "erosion"   %>
       <%= f.label :blister , '水疱・膿疱' %>
       <%= f.radio_button :adjacent, "blister"   %>
       <%= f.label :ulceration , '潰瘍・組織増大' %>
       <%= f.radio_button :adjacent, "ulceration"   %>
     </td>
   </tr>
   <tr>
     <th>B:皮膚保護剤部:皮膚保護剤が触れていた範囲</th>
     <td>
       <%= f.label :acceptable, '障害なし' %>
       <%= f.radio_button :barrier,"acceptable"%>
       <%= f.label :erythema,'紅斑' %>
       <%= f.radio_button :barrier,"erythema"%>
       <%= f.label :erosion , 'びらん' %>
       <%= f.radio_button :barrier, "erosion" %>
       <%= f.label :blister , '水疱・膿疱' %>
       <%= f.radio_button :barrier, "blister" %>
       <%= f.label :ulceration , '潰瘍・組織増大' %>
       <%= f.radio_button :barrier, "ulceration" %>
     </td>
   </tr>
   <tr>
     <th>C:皮膚保護剤外部</th>
     <td>
       <%= f.label :acceptable, '障害なし' %>
       <%= f.radio_button :circumscribing,"acceptable"%>
       <%= f.label :erythema,'紅斑' %>
       <%= f.radio_button :circumscribing,"erythema"%>
       <%= f.label :erosion , 'びらん' %>
       <%= f.radio_button :circumscribing, "erosion" %>
       <%= f.label :blister , '水疱・膿疱' %>
       <%= f.radio_button :circumscribing, "blister" %>
       <%= f.label :ulceration , '潰瘍・組織増大' %>
       <%= f.radio_button :circumscribing, "ulceration" %>
     </td>
   </tr>
   <tr>
     <th>D:ABCの合わせた部位の色調の変化</th>
     <td>
       <%= f.label :acceptable, '障害なし' %>
       <%= f.radio_button :discolor,"acceptable"%>
       <%= f.label :spot,'色素沈着' %>
       <%= f.radio_button :discolor,"spot"%>
       <%= f.label :depigmentation , '色素脱失' %>
       <%= f.radio_button :discolor, "depigmentation" %>
       <%= f.label :both, '色素沈着・色素脱失' %>
       <%= f.radio_button :discolor, "both" %>
     </td>
   </tr>
        <!--障害なし0,1,2,3,15点-->
   <tr>
     <th>ストマのたての長さ</th>
     <td><%= f.number_field :h_size, min:20 %>mm</td>
   </tr>
   <tr>
     <th>ストマのよこの長さ</th>
     <td><%= f.number_field :w_size, min:20 %>mm</td>
   </tr>
   <tr>
     <th>ストマの高さ</th>
     <td><%= f.number_field :d_size, min:0 %>mm</td>
   </tr>
   <tr>
      <th>コメント・メモ</th>
      <td>
        <%=f.text_area :comment %>
      </td>
   </tr>
   <tr>
      <th>写真を貼る</th>
      <td><%=f.file_field :image %></td>
   </tr>
   <tr>
     <th></th>
     <td><%= f.submit "記録",class: "btn btn-success" %></td>
   </tr>
  </table>
    </div>
    <div class = "col-3 abc"></div>
  </div>
<%end%>