<div class="container">
 <div class="row">

   <h2>ストマの記録<br><%=@record.created_at.strftime('%Y/%m/%d') %></h2>
    <div class="col-8">
     <table class='table table-borderless'>
        <tr>
          <th>A:近接部:ストーマからストーマ装具の皮膚保護剤までの範囲</th>
          <td><%= @record.adjacent_i18n%></td>
        </tr>
        <tr>
          <th>B:皮膚保護剤部:皮膚保護剤が触れていた範囲</th>
          <td><%= @record.barrie_i18n%></td>
        </tr>
        <tr>
          <th>C:皮膚保護剤外部</th>
          <td><%= @record.circumscribing_i18n%></td>
        </tr>
        <tr>
          <th>D:ABCの合わせた部位の色調の変化</th>
          <td><%= @record.discoloration_i18n %></td>
        </tr>
        <tr>
          <th>ABCモデル合計</th>
          <td><%= @record.comment%></td>
        </tr>
        <tr>
          <th>ストマのたての長さ</th>
          <td><%= @record.h_size %>mm</td>
        </tr>
        <tr>
          <th>ストマのよこの長さ</th>
          <td><%= @record.w_size%>mm</td>
        </tr>
        <tr>
          <th>コメントメモ</th>
          <td><%= @record.comment%></td>
        </tr>
        <tr>
          <th>写真</th>
          <td><!--< %= attachment_image_tag(@record, :image, fallback: "no_image.jpg", size: "300x300") %>--></td>
        </tr>
     </table>
<%= link_to '編集する',patient_edit_record_path(@record), class: "btn btn-success btn-lg" %>
  </div>
 </div>
</div>