<div class="container">
 <div class="row">

   <h3><%=@record.patient.name%>さんのストマの記録<%=@record.created_at.strftime('%Y/%m/%d')%></h3>
    <div class="col-8">
     <table class='table table-borderless'>
        <tr>
          <th>A:近接部:ストーマからストーマ装具の皮膚保護剤までの範囲</th>
          <td><%= @record.adjacent_i18n%></td>
        </tr>
        <tr>
          <th>B:皮膚保護剤部:皮膚保護剤が触れていた範囲</th>
          <td><%= @record.barrier_i18n%></td>
        </tr>
        <tr>
          <th>C:皮膚保護剤外部</th>
          <td><%= @record.circumscribing_i18n%></td>
        </tr>
        <tr>
          <th>D:ABCの合わせた部位の色調の変化</th>
          <td><%= @record.discolor_i18n %></td>
        </tr>
      　<tr>
          <th>A+B+C=合計点</th>
          <td><%= @record.point %></td>
        </tr>
        <tr>
          <th>D</th>
          <td><%= @record.d_point %></td>
        </tr>
        <tr>
          <th>ストマのたての長さ</th>
          <td><%= @record.h_size %>mm</td>
        </tr>
        <tr>
          <th>ストマのよこの長さ</th>
          <td><%= @record.w_size%>mm</td>
        </tr>
        <tr>
          <th>ストマの高さ</th>
          <td><%= @record.d_size%>mm</td>
        </tr>
        <tr>
          <th>コメントメモ</th>
          <td><%= @record.comment%></td>
        </tr>
        <tr>
          <th>写真</th>
          <td><!--< % if@record.image.attached? %>
                  < %= image_tag @record.image %>
                  < % else %>
                  < %= image_tag 'no_image.jpg' %>
                  < % end %>--></td>
        </tr>
     </table>
   <%= link_to '編集する',edit_staff_patient_record_path, class: "btn btn-success btn-lg" %>
  </div>
 </div>
</div>