<!DOCTYPE html>
<html>
  <head>
    <title>Stoma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
     <nav>
      <!--- ロゴ ------>
      <div id="logo">
          <%= link_to "トップ",root_path,class: "btn btn-success btn-lg"%>
      </div>
      <!--- ロゴ ------>
      <!-- ハンバーガーメニュー -->
      <div class="Toggle">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <!-- ハンバーガーメニュー -->
      <div class="menu">
        <ul>
          <% if patient_signed_in? %> <!--患者さんログイン-->
              <li><%= link_to " カレンダー",patient_calenders_path,class: "btn btn-success btn-lg", data: {"turbolinks" => false}%></li>

              <li>
                <!--<div id="cover"></div>-->
                <!--<div id="notice"></div>-->
                <!--<div id="modal"><span id="close">X</span></div>-->
                <!--<button id="notice">通知</button>-->


                <%= link_to '通知', patient_notifications_path,class: "btn btn-success btn-lg" %>
              </li>




              <li><%= link_to 'ストーマ記録', new_patient_ostomy_path,class: "btn btn-success btn-lg" %></li>
              <li><%= link_to 'ストーマ記録を見る',patient_ostomies_path,class: "btn btn-success btn-lg" %></li>
              <li><%= link_to '健康記録', new_patient_dialy_path,class: "btn btn-success btn-lg" %></li>
              <li><%= link_to '健康記録を見る',patient_dialies_path,class: "btn btn-success btn-lg" %></li>
              <li><%= link_to 'マイページを見る',edit_patient_patient_path(current_patient.id),class: "btn btn-success btn-lg" %></li>
              <li><%=link_to "ログアウト",destroy_patient_session_path,method: :delete,class: "btn btn-success btn-lg"%></li>
          <% elsif staff_signed_in? %><!--医療スタッフログイン-->
              <li><%= link_to "患者一覧",staff_patients_path,class: "btn btn-success btn-lg" %></li>
              <li><%= link_to "スタッフ登録情報",staff_staff_path(current_staff.id),class: "btn btn-success btn-lg" %></li>
              <li><%= link_to "スタッフログアウト",destroy_staff_session_path,method: :delete,class: "btn btn-success btn-lg" %></li>
          <% else %><!--患者さん未ログイン-->
              <li><%=link_to"ログインする",new_patient_session_path,class: "btn btn-success btn-lg"%></li>
          <%end%>
        </ul>
      </div>
    </nav>
    </header>
   <%= yield %>
  </body>
</html>
