<!DOCTYPE html>
<html>
  <head>
    <title>Stoma</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.9.0/main.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </head>



  <body>
     <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
             <%= link_to "トップページ",patient_calenders_path,class: "btn btn-success btn-lg"%>
     <header class="shadow-sm">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <!--ログインの条件わけ-->
               <% if patient_signed_in? %> <!--患者さんログイン-->
                <li class = "nav-item px-5">
               <%= link_to 'ストーマの記録', new_patient_ostomy_path,class: "btn btn-success btn-lg" %>
                </li>
                <li class = "nav-item px-5">
                    <%= link_to '健康記録', new_patient_dialy_path,class: "btn btn-success btn-lg" %>
                </li>
                <li class = "nav-item px-5">
                <%=link_to "記録完了 ログアウト",destroy_patient_session_path,method: :delete,class: "btn btn-success btn-lg"%>
                </li>
               <% else %><!--患者さん未ログイン-->
               <li>
                  <%=link_to"ログインする",new_patient_session_path,class:"btn btn-success btn-lg"%>
               </li>
               <li class = "nav-item px-5"></li>
              <li class = "nav-item px-5"></li>
               <%end%>
               <% if staff_signed_in? %><!--医療スタッフログイン-->
                <li class = "nav-item px-5">
                    <%= link_to "患者一覧",staff_patients_path,class: "btn btn-success btn-lg" %>
                </li>
               <% else %><!--医療スタッフ未ログイン-->
              <li class = "nav-item px-5">
                <%=link_to"スタッフログイン",new_staff_session_path,class:"btn btn-success btn-lg"%>
              </li>
               <%end%>

            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
